body {
  font-family: "Roboto", sans-serif;
}
input {
  padding: 10px 8px;
  border-radius: 4px;
  border: none;
}
h1 {
  font-family: "Shrikhand", serif;
}
p {
  font-weight: 300;
}
hr {
  font-weight: 100;
}
.city {
  width: 80%;
  background-color: rgb(217, 217, 230);
}
.search {
  color: #fff;
  background-color: #885df1;
}

.temp {
  color: rgb(186, 22, 22);
  font-weight: 700;
}
.link {
  font-weight: 700;
}
.current-temp {
  display: flex;
  justify-content: end;
  font-weight: bold;
  position: relative;
  bottom: 80px;
  font-size: 60px;
}
.container {
  max-width: 80%;
  color: #272343;
  margin: 0 auto;
  padding: 30px 20px;
  line-height: 1.5;
}
.degree {
  font-weight: 700;
  position: relative;
  bottom: 10px;
  font-size: 30px;
}
.material-symbols-outlined {
  color: rgb(216, 195, 5);
  position: relative;
  bottom: -25px;
  font-size: 37px;
}
